* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    background-size: cover;

    color: #ffbe00;

    font-family: sans-serif;
    font-size: 5vw;

    line-height: 1.3;
    overflow: hidden;
}

h1{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}
h2{
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}
p{
    margin: 5rem 0rem;
    padding: 0.5rem 0;
}

.container{
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;

    font-weight: 600;
    letter-spacing: 6px;
    perspective: 380px;
    perspective-origin: bottom;
    position: absolute;
    overflow: visible;
    transform: scaleY(0.9);

    
}

.credits{
    top: 0;
    right: 5%;
    left: 5%;
    width: 80%;
    height: 100%;

    animation: starWars 20s infinite;
}

.headings{
    margin-bottom: 5rem;
}

@keyframes starWars{
    0% {
        transform: rotateX(21deg) translate3d(0, 40rem, 0);
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: rotateX(21deg) translate3d(0, -90rem, 0);
        opacity: 0;
    }

}
